htop/
wslu/
tmux-yank/
.netrwhist
rclone/
nextjs-nodejs/
nvim/plugin/
configstore/
gatsby/
matplotlib/
neofetch/
wireshark/
pulse/
procps
google-chrome/
mimeapps.list
dconf/
zoomus.conf
tmux-yank/
mpv/
test.gif
test.mp4
